/* styles.css */
body {
    background-color:white;  
}

.head{
    display: grid;
    grid-template-columns: 50px 10px 0px;
    height: 20px;
}

.navBar {
    display: flex;
    background-color: #6D6875;
    width: 100%; /* Adjust width to 100% to fill the available space */
    height: 50px;
    margin-top: 10px;
}

.item2{
    
}
.loginButton{
    background-color: #6D6875;
    color: white;
    border-radius: 7px;
    border: 0;
    padding: 4px 20px;
    margin-left: 1450px;
    font-size: larger;
}

.signupButton{
    background-color: #6D6875;
    color: white;
    border-radius: 7px;
    border: 0;
    padding: 4px 20px;
    margin-left: 5px;
    font-size: larger;
}

.animals_cats,.Adopt,.animals_dogs{
    background-color: #6D6875;
    color: white;
    border-radius: 7px;
    border: 0;
    padding: 4px 20px;
    margin-left: 5px;
    font-size: larger;
}


.cover_photo {
    display: block;
    width: 100%; /* You can adjust this width as needed */
    max-width: 600px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden;
    border: 1px solid #ccc;
    position: relative;
  }
  
  /* Style the image within the container */
  .cover_photo img {
    width: 100%;
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove any extra spacing below the image */
  }